body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F5F5DC;
}

img {
  max-width: 100%;
  height: auto;
}


@media (max-width: 767px) {


  .mantine-Container-root {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  h1,
  .mantine-Title-root[data-order="1"] {
    font-size: 1.75rem !important;
  }

  h2,
  .mantine-Title-root[data-order="2"] {
    font-size: 1.5rem !important;
  }

  h3,
  .mantine-Title-root[data-order="3"] {
    font-size: 1.25rem !important;
  }

  .mantine-Stack-root,
  .mantine-Group-root {
    gap: 12px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  h1,
  .mantine-Title-root[data-order="1"] {
    font-size: 2.25rem !important;
  }

  h2,
  .mantine-Title-root[data-order="2"] {
    font-size: 1.875rem !important;
  }
}